/* line 5, ../../../app/stylesheets/layout.sass */
body {
  margin: 0px;
  padding: 0px;
  background-color: gray;
}

/* line 11, ../../../app/stylesheets/layout.sass */
.hidden_images .image {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin: auto;
}
/* line 18, ../../../app/stylesheets/layout.sass */
.hidden_images .image.current {
  opacity: 1;
}

/* line 21, ../../../app/stylesheets/layout.sass */
.js-background_image {
  height: 500px;
  width: 100%;
  display: block;
  background-color: gray;
}

/* line 28, ../../../app/stylesheets/layout.sass */
.js-left_arrow, .js-right_arrow {
  width: 50%;
  height: 500px;
  z-index: 100;
  cursor: pointer;
}

/* line 34, ../../../app/stylesheets/layout.sass */
.js-left_arrow {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* line 39, ../../../app/stylesheets/layout.sass */
.js-right_arrow {
  position: absolute;
  top: 0px;
  right: 0px;
}
